/*resetando as propriedades do proprio navegador*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

div {
  width: 100px;
  height: 100px;
  background-color: rgb(239, 108, 0);
  position: absolute;
  bottom: 0;
  right: 0;
}
